@Model Domain.Gadget

<div class="panel-body">
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="../../images/image-not-found.jpg" style="width:100px;height:100px" />
        </a>
        <div class="media-body">
            <h4 class="media-heading">
                @Model.Name
            </h4>
            <p>@Model.Description</p>
        </div>
    </div>
</div>
